.imgDetail{
height: 550px !important;
}

.test{
color: pink !important;
}
.testbtn{
  background-color: rgb(224, 120, 137);
  width: fit-content;
  border-radius: 5px;

}
a{
  text-decoration: none;

}
